.validade {
  font-size: 0.5rem;
  margin-top: 30px;
  letter-spacing: -0.05em !important;
  padding: 2px;
  opacity: 0.9;
}

.quantidade {
  background-color: white !important;
  border: solid rgba(0, 0, 0, 0.2) 1px !important;
  opacity: 0.9;
  color: black !important;
  margin-top: -5px;
}

.produto .card-body {
  font-size: 0.8rem;
  padding: 5px 10px !important;
}

* {
  touch-action: manipulation;
}

.filtros .accordion-body {
  padding: 5px;
}
